/* add your CSS here */

 body {
 	/* width is 300px plus spacing around image and the border widths */
 	width: 324px;
 }

 .picture {
 	/* image already 300px */
 	width: 300px;
 }

 .interesting-fact {
 	font-style: italic;
 }

 #ul-list { 
 	/* removes list bullets */
	list-style: none;
 }

 .list-item { 
	font-weight: bold;
 }

 .card {
 	border: 2px solid #ddd;
 	background-color: #f9f9f9;
 	border-radius: 4px;
 }

 .information { 
	border: 2px dashed #ddd;
	margin: 10px;
 }

 .spacing { 
	padding: 10px;
 }